
body {
  font-family: 'Helvetica Neue', sans-serif; 
  background-image: url('cloud.jpg'); 
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  height: 350px; 
  width: 350px; 
.container {
  background-color: rgba(255, 255, 255, 0.8); 
  padding: 100px;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); 
}

h1 {
  color: #333; 
}

#location {
  width: 95%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  margin-right: 10px;
  font-size: 14px; 
  margin-bottom: 20px;
}

#checkWeather {
  background-color: #1abc9c; 
  color: #fff; 
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 14px; 
}

#checkWeather:hover {
  background-color: #16a085; 
}

#weatherInfo {
  margin-top: 16px;
  font-size: 20px; 
  color: #333; 
}